.wrapper {
    width: 60px;
    height: 30px;


    display: inline-flex;
    align-items: center;
    gap: 8;
    transition: opacity 0.2s;

    cursor: pointer;

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.75;
    }
}

.thumb, .tray {
    position: absolute;
    transition: background-color 0.2s, left 0.2sc cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.tray {
    width: 50px;
    height: 20px;
    border-radius: 10px;

    &--unchecked {
        background-color: #969696;
    }

    &--checked {
        background-color: #1c4f87;
    }

    &--focused {
        box-shadow: 0 0 0 2px #666;
    }
}

.thumb {
    width: 18px;
    height: 18px;
    border-radius: 9px;

    &--unchecked {
        left: 2px;
        background-color: #aaa;
    }

    &--checked {
        left: calc(100% - 2px);
        background-color: #4b8fd7;
    }
}
