$blue: hsl(211, 66%, 35%);
$bright-blue: hsl(211, 64%, 70%);

$vortex-dark-orange: rgb(200, 123, 40);
$vortex-orange: rgb(217 143 64);
$vortex-bright-orange: rgb(224 163 98);

$mo2-dark-blue: #3382a1;
$mo2-blue: #3ebcee;
