.header {
    outline: none;
    background: none;
    border: none;

    color: #fff;

    font-size: 1.2em;
    letter-spacing: 0.15px;
    line-height: 24.96px;
    word-spacing: 0.3px;
    margin: 0;
    margin-bottom: 0.5em;
    font-family: inherit;
    padding: 4px;

    display: inline-block;
    
    &[data-header-like-input-div] { width: max-content; }
    &[data-header-like-input-input] { width: calc(100% - 40x); }

    position: relative;

    white-space: nowrap;

    &::after {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        height: 2px;
        background-color: #a0a0a0;

        &:hover {
            background-color: #c7c7c7;
        }

        &:focus {
            background-color: #d1d1d1;
        }
    }
}
