@use './vars' as *;
@use '../../vars' as *;

.builderBody {
    margin-top: 8px;
}

.addButton {
    background-color: #222;
    color: white;

    padding: 6px 10px;
    margin-left: 4px;
    border-radius: 32px;
    height: 32px;

    font-weight: bold;
    outline: none;

    font-size: 1em;
    color: white;

    border: 2px solid #666;

    outline: none;

    transition: all 0.15s ease-in-out;
    transition-property: background-color, border-color;

    &:hover { background-color: #333; }
    &:focus {
        background-color: #333;
        border-color: #777;
    }

    &.active { background-color: #999; }
}

.deleteButton {
    background: none;
    outline: none;
    border: none;

    margin-left: 8px;
    padding: 0;

    font-size: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;

    transition: color 0.15s ease-in-out;

    color: #aaa;
    opacity: 0.5;
    cursor: disabled;

    &:not([disabled]) {
        color: #ccc;
        opacity: 1;
        cursor: pointer;

        &:hover { color: #fff; }
        &:focus { color: #fff; }
    }
}

@keyframes scaleInX {
    0% {
        max-width: 0%;
        scale: 0 1;
    }

    100% {
        max-width: 100%;
        scale: 1 1;
    }
}

.scaleInX {
    animation: scaleInX 0.15s ease-out;
    max-width: 100%;
    scale: 1 1;
    transform-origin: left center;
}

.scaleOutX {
    animation: scaleInX 0.15s ease-out reverse;
    max-width: 0%;
    scale: 0 1;
    transform-origin: left center;
}

@mixin bodyStyling($color-bg-inactive, $color-bg-active) {
    width: 100%;

    > .childSelector {
        width: 100%;
        height: 43px;

        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        > span {
            color: #aaa;
            font-size: 1em;
            padding: 12px 0;
        }

        button:not(.addButton, .deleteButton) {
            background-color: $color-bg-inactive;

            padding: 8px 16px;

            font-size: 1em;
            color: white;
            i { color: #aaa; }

            border: 1px solid #888;
            border-top-width: 4px;
            border-bottom-width: 4px;
            &:first-child { border-left-width: 2px; }
            &:has(+ :last-child) { border-right-width: 2px; }

            outline: none;

            transition: all 0.15s ease-in-out;
            transition-property: background-color, border-color;

            cursor: pointer;

            &:hover { background-color: mix($color-bg-inactive, $color-bg-active, 50%); }
            &:focus {
                background-color: $color-bg-active;
                border-color: white;
            }

            &.active { background-color: $color-bg-active; }

            &[aria-selected="true"] {
                background-color: $color-bg-active !important;
                border-color: white;
                border-bottom-color: $color-bg-active;
            }
        }
    }

    > .body {
        width: calc(100% - 32px);
        &:not(:has(> *)) { display: none; }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 16px;

        background: $color-bg-active;
        > :first-child {margin-top: 0;}
        padding: 16px;
    }
}

.optionDescription {
    @extend %input-base;
    overflow: scroll;
}

.builderBody {
    @include bodyStyling($step-inactive, $step-background);

    div:not([class]) {
        width: 100%;
        overflow: hidden;
        display: inline-block;
    }

    > .body {
        width: calc(100% - 32px);
    }
}

.groupWrapper {
    @include bodyStyling($group-inactive, $group-background);
}

.optionWrapper {
    @include bodyStyling($option-inactive, $option-background);
}

.flagWrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    > div {
        overflow-y: hidden !important;
        overflow-x: auto !important;
        white-space: nowrap !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start !important;
        width: max-content !important;
    }
}

.flagToSet {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: max-content;
    gap: 8px;
}

:has(> .flagToSet) {
    padding: 0 24px;
}
